<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
    <div id="eye">
        <img src="{{ site.baseurl }}/assets/img/eye_sq.png" />
    </div>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>
</html>
