<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body data-noise-fps="30" data-noise-mode="css">
    <!-- vignette corners (upper-left is original orientation) -->
    <div class="vignette" aria-hidden="true">
        <img class="vig vig-top-left" src="{{ site.baseurl }}/assets/img/vig.png" alt="" />
        <img class="vig vig-top-right" src="{{ site.baseurl }}/assets/img/vig.png" alt="" />
        <img class="vig vig-bottom-right" src="{{ site.baseurl }}/assets/img/vig.png" alt="" />
        <img class="vig vig-bottom-left" src="{{ site.baseurl }}/assets/img/vig.png" alt="" />
    </div>
    <div id="eye">
        <img src="{{ site.baseurl }}/assets/img/eye.gif" />
    </div>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>
</html>
